$pink: #E43F6F;
$teal: #19BCB1;
$green: #8FC93A;
$charcoal: #333A4A;
$grey: #5B6170;
$lightgrey: #B6B9BF;
$offwhite: #DADCDF;

$red: #FF0D0D;
$black: #000000;

$almostwhite: #ECEDEF;
$white: #FFFFFF;
